# Global directory configuration
workspace_path: "./output-hello-world"

# Global LLM configuration(optional)
# If evaluator or other components do not have their own llm_config, this configuration will be used
llm_config:
#  url: Default to None, and LiteLLM will load the url from env
#  api_key: Default to None, and LiteLLM will load the api_key from env
  model: "deepseek-v3"
  claude_agent_options:
    permission_mode: "prompt"
    max_turns: 10
    max_thinking_tokens: 1000

# ------------------------------------------------------------------------------
# Define the configuration for all available components
# ------------------------------------------------------------------------------

# All available Configuration for Planner
planners:
  general_planner:
    # Planner's specific configuration, such as prompt templates, used LLM, etc.
    react_max_steps: 10

# All available Executor configuration
executors:
  evolve_executor_fuse:
    # ExecutorFuse's specific configuration
    max_rounds: 3
    react_max_steps: 15
    score_threshold: 0.95

# All available Summarizer configuration
summarizers:
  evolve_summary:
    # Summarizer's specific configuration
    react_max_steps: 6

# ------------------------------------------------------------------------------
# Define the main evolution process configuration
# ------------------------------------------------------------------------------
evolve:
  # Task description, is the core objective of the entire evolution process
  task: |
    Test

  # Name of the component selected for current run
  planner_name: "general_planner"
  executor_name: "evolve_executor_fuse"
  summary_name: "evolve_summary"

  # Core parameters for the evolution process
  max_iterations: 200
  target_score: 1.0
  concurrency: 1

  # Evaluator configuration
  evaluator:
    timeout: 1200


  # Database configuration
  database:
    storage_type: "in_memory"
    num_islands: 1
    population_size: 90
    checkpoint_interval: 1
    # If sampling_weight_power < 1, sampling weight has a weak effect
    sampling_weight_power: 2

